<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover" class="hm-tap">
      <ion-icon name="compass-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.discover' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jobs" class="hm-tap">
      <ion-icon name="briefcase-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.jobs' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats" class="hm-tap">
      <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.chats' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" class="hm-tap">
      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'tabs.account' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
